.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.about-us__page {
  display: flex;
  color: #000;
  background-color: #ff6d00;
  width: 90%;
  height: 80%;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}

.about-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.about-us__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#about-us-image {
  width: 40%;
  height: 100%;
}
