.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 100%;
  background-color: #75a7ff;
}

.navbar__tab-container {
  display: flex;
  margin: 0;
}

.navbar__tab-item {
  margin: 0;
  border: none;
  background-color: #75a7ff;
  font-size: 1.2rem;
}

.navbar__tab-item:focus {
  background-color: #004ecb;
  color: #fff;
}

.navbar__tab-item:hover {
  background-color: #2979ff;
  color: #000;
  font-size:  1.4rem;
}
