.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.850rem 0 0.985rem;
}

.navbar__tab-container {
  display: flex;
  margin: 0 1.5rem;
}

.navbar__tab-item {
  margin: 0 3rem;
}
